/* 
    Document   : main
    Created on : Feb 25, 2013, 8:29:36 AM
    Author     : Curtis
    Description:
        Final Score MC Ban Manager main styles
*/

/*
Form Layout Styles
*/

.form {
    overflow: auto;
}

.form label, .form input, .form select, .form textarea {
    display: block;
    float: left;
    margin-bottom: 10px;
}

.form input, .form select {
    width: 120px;
}
.form input[type=checkbox] {
    width: 60px;
}
.form .int {
    width: 40px;
}
.form textarea {
    width: 350px;
    height: 80px;
}

.form label {
    text-align: right;
    padding-right: 20px;
    width: 110px;
}

.form br {
    clear: left;
}

/*
Search Box and Actions
*/

div.left-menu {
    margin: 0 auto;
    width: 365px;
}
#search-box, #actions {
    float: left;
}
#search-box {
    width: 225px;
}
#actions {
    width: 140px;
    text-align:center;
}
#search-box label {
    width: 50px;
}
#search-box input {
    width: 100px;
}
#search-button {
    float:right;
}
#actions button {
    margin-bottom: 10px;
}

/*
Manage Users
*/

#tabs {
    clear: both;
    min-width: 840px;
    overflow: auto;
}

#manage .form, #ban-history table {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

#user-info textarea {
    height: 50px;
}


#user-add-permanent-box, #user-info-permanent-box {
    display: none;
}

/*
Table List Styles
*/

.list, .list tr, .list td {
    border: 1px solid #CCC;
}

.list td {
    padding: 4px;
}

.list tbody tr {
    cursor: pointer;
}

.list tbody tr:hover {
    background-color: #F0F0F0;
}

/*
Error and Highlight Styles
*/


#error, #highlight {
    position: fixed;
    z-index: 101;
    top: 35px;
    left: 10px;
    right: 10px;
    display: none;
}
#error div, #highlight div {
    padding: 1em;
}
#error .ui-icon, #highlight .ui-icon {
    float: left;
    margin-right: .3em;
    margin-top: .1em;
}

/*
jQuery UI Overrides/Changes
*/

.ui-autocomplete-loading {
    background: white url('http://finalscoremc.com/wp-includes/images/wpspin.gif') right center no-repeat;
}

