/* 
    Document   : main
    Created on : Feb 25, 2013, 8:29:36 AM
    Author     : Curtis
    Description:
        Final Score MC Ban Manager main styles
*/

/*
Form Layout Styles
*/

.form {
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 10px;
    width: 600px;
    overflow: auto;
}

.form label, .form input, .form select, .form em, .form code, .form textarea {
    display: block;
    float: left;
    margin-bottom: 10px;
}

.form input, .form select, .form code {
    width: 120px;
}
.form input[type=checkbox] {
    width: 60px;
}
.form .int {
    width: 40px;
}
.form textarea {
    width: 350px;
    height: 80px;
}

.form label, .form em {
    text-align: right;
    padding-right: 20px;
    width: 70px;
}

br {
    clear: left;
}

/*
Table List Styles
*/

.list, .list tr, .list td {
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

.list td {
    padding: 4px;
}

.list tbody tr {
    cursor: pointer;
}

.list tbody tr:hover {
    background-color: #fdf5ce;
    color: #c77405;
}

/*
MISC
*/

#error, #highlight {
    position: fixed;
    z-index: 100;
    top: 5px;
    left: 5px;
    right: 5px;
    display: none;
}
#error div, #highlight div {
    padding: 0 .7em;
}
#error .ui-icon, #highlight .ui-icon {
    float: left;
    margin-right: .3em;
}

/*
jQuery UI Overrides/Changes
*/

.ui-autocomplete-loading {
    /* TODO: Make this a local Resource */
    background: white url('http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

