{
    "env": {
        "browser": true
    },
    "globals": {
        "angular": false
    },
    "rules": {
        "quotes": [1, "single"],
        "camelcase": 1,
        "eqeqeq": 1,
        "global-strict": 0
    }
}
