# Build and dependency management
bin/
node_modules/
src/vendor/
src/presentation/assets/vendor/
src/presentation/dist/

# Configuration files
bm-config.php
phpunit.xml
test.ini

# IDE Files
nbproject/
.idea/

# Tests Results
test-results/

# Misc file types
*.gz
*.log
*.zip
log*.txt

