# Compressed versions of CSS and JS
*.min.js
*.min.css
# Keep the jQuery UI compressed JS
!jquery-ui-1.10.2.custom.min.js

# jQuery source files (included via CDN)
jquery-1.9.1.js

# Configuration files
bm-config.php
phpunit.xml
test.ini

# IDE Files
nbproject/

# Tests Results
test-results/

# Misc file types
*.gz
*.log
*.zip
