# Build and dependency management
node_modules/
src/presentation/assets/vendor/

# Configuration files
bm-config.php
phpunit.xml
test.ini

# IDE Files
nbproject/
.idea/

# Tests Results
test-results/

# Misc file types
*.gz
*.log
*.zip
log*.txt

