<form name="incidentForm" class="form-horizontal" novalidate="novalidate">
    <div class="form-group" ng-show="!adding">
        <label class="col-sm-2 control-label">Moderator:</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{incident.moderator}}</p>
        </div>
    </div>
    <div class="form-group" ng-show="adding" ng-class="{'has-error': incidentForm.$invalid && incidentForm.$dirty}">
        <label class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-10">
            <lookup on-select="incident.selectUser($item)" required="true"></lookup>
        </div>
    </div>
    <div class="form-group" ng-show="!adding">
        <label class="col-sm-2 control-label">Created Date:</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{incident.created_date | date: 'mediumDate'}}</p>
        </div>
        <label class="col-sm-2 control-label">Last Modified:</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{incident.modified_date | date: 'mediumDate'}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="type_{{incident.id}}" class="col-sm-2 control-label">Incident type:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="type_{{incident.id}}" ng-model="incident.incident_type"/>
        </div>
        <label for="date_{{incident.id}}" class="col-sm-2 control-label">Incident Date:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="date_{{incident.id}}"
                   ng-model="incident.incident_date"
                   uib-datepicker-popup="yyyy-MM-dd"
                   is-open="datepicker.open"
                   on-open-focus="false"
                   ng-focus="datepicker.open = true" />
        </div>
    </div>
    <div class="form-group">
        <label for="notes_{{incident.id}}" class="col-sm-2 control-label">Notes:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="notes_{{incident.id}}" ng-model="incident.notes" rows="4"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="action_{{incident.id}}" class="col-sm-2 control-label">Action Taken:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="action_{{incident.id}}" ng-model="incident.action_taken"></textarea>
        </div>
    </div>
    <div class="row">
        <p class="col-sm-2 col-sm-offset-1">
            Key Location
        </p>
    </div>
    <div class="form-group">
        <label for="world_{{incident.id}}" class="col-sm-2 control-label">World:</label>
        <div class="col-sm-9 col-lg-4 md-row">
            <select id="world_{{incident.id}}" class="form-control" ng-model="incident.world" ng-options="w.value as w.label for w in worlds"></select>
        </div>
        <label for="coord_x_{{incident.id}}" class="col-sm-2 col-lg-1 control-label">X:</label>
        <div class="col-sm-2 col-lg-1">
            <input type="text" class="form-control" id="coord_x_{{incident.id}}" ng-model="incident.coord_x"/>
        </div>
        <label for="coord_y_{{incident.id}}" class="col-sm-1 control-label">Y:</label>
        <div class="col-sm-2 col-lg-1">
            <input type="text" class="form-control" id="coord_y_{{incident.id}}" ng-model="incident.coord_y"/>
        </div>
        <label for="coord_z_{{incident.id}}" class="col-sm-1 control-label">Z:</label>
        <div class="col-sm-2 col-lg-1">
            <input type="text" class="form-control" id="coord_z_{{incident.id}}" ng-model="incident.coord_z"/>
        </div>
    </div>
</form>
