<div ng-show="!adding" class="col-lg-3 col-lg-push-9">
    <div class="player-head">
        <img class="img-rounded" ng-src="{{playerImage}}" />
    </div>
    <label class="control-label">Known Usernames:</label>
    <ul class="list-unstyled">
        <li ng-repeat="username in player.usernames">{{username.username}} <span ng-show="username.active" class="text-primary glyphicon glyphicon-ok-sign" title="Active Username"></span></li>
    </ul>
</div>
<form name="userForm" class="form-horizontal col-lg-pull-3" novalidate="novalidate"
      ng-class="{'col-lg-9': !adding}" ng-submit="submitForm(userForm)">
    <div class="form-group" ng-switch="adding">
        <div ng-switch-when="true">
            <label for="username" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" ng-model="player.username"/>
            </div>
        </div>
        <div ng-switch-when="false">
            <label for="user_mod_date" class="col-sm-2 control-label">Modified Date:</label>
            <div class="col-sm-4">
                <input type="text" class="col-sm-2 form-control" id="user_mod_date" ng-model="player.modified_date" readonly="readonly" />
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': userForm.$invalid && userForm.attempted}">
        <label for="uuid" class="col-sm-2 control-label">UUID:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="uuid" ng-model="player.uuid" ng-readonly="!adding" required="required"/>
        </div>
    </div>
    <div class="form-group">
        <label for="user_banned" class="col-xs-4 col-sm-2 control-label">Banned:</label>
        <div class="col-xs-2">
            <div class="checkbox">
                <input type="checkbox" id="user_banned" ng-model="player.banned" ng-true-value="1" ng-false-value="0"/>
            </div>
        </div>
        <div ng-show="player.banned">
            <label for="user_permanent" class="col-xs-4 col-sm-2 control-label">Permanent:</label>
            <div class="col-xs-2">
                <div class="checkbox">
                    <input type="checkbox" id="user_permanent" ng-model="player.permanent" ng-true-value="1" ng-false-value="0"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="rank" class="col-sm-2 control-label">Rank:</label>
        <div class="col-sm-4">
            <select id="rank" class="form-control" ng-model="player.rank" ng-options="r.value as r.label for r in ranks"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="user_relations" class="col-sm-2 control-label">Relations:</label>
        <div class="col-sm-10">
            <textarea id="user_relations" class="form-control" ng-model="player.relations"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="user_notes" class="col-sm-2 control-label">Notes:</label>
        <div class="col-sm-10">
            <textarea id="user_notes" class="form-control" ng-model="player.notes"></textarea>
        </div>
    </div>
</form>
