/**
 * Base CSS file the ban manager.
 */

.tabarea {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 15px 6px 6px;
    min-height: 100px;
}

.sm-row, .md-row {
    margin-bottom: 15px;
}

.form-section {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.player-head {
    padding: 1px 10px 10px;
}

.bm-alert-box {
    position: absolute;
    top: 10px;
    left: 5%;
    right: 5%;
    z-index: 5000;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .tabarea {
        border-radius: 0 0 4px 4px;
        border-top: none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sm-row {
        margin-bottom: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .md-row {
        margin-bottom: 0;
    }
}

