<div ng-switch="!user">
    <p ng-switch-when="true">Select a user to manage.</p>
    <div ng-switch-default="">
        <div class="form-section">
            <player player="user.player" adding="false"></player>
            <div class="row">
                <div class="col-xs-3 col-sm-2 col-xs-offset-8 col-sm-offset-7">
                    <button class="btn btn-default" ng-click="saveUser()">Save</button>
                </div>
            </div>
        </div>
        <div>
            <div ng-repeat="incident in user.incidents" ng-include="'presentation/views/incident.html'" class="form-section"></div>
        </div>
        <div>
            <h3>Ban History</h3>
            <table class="table table-striped">
                <thead>
                    <tr><th>Moderator</th><th>Date</th><th>Banned</th><th>Permanent</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ban in user.history">
                        <td>{{ban.moderator}}</td>
                        <td>{{ban.date}}</td>
                        <td>{{ban.banned|checkmark}}</td>
                        <td>{{ban.permanent|checkmark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-xs-offset-8 col-sm-offset-7">
                <button class="btn btn-default" ng-click="reset()">Cancel</button>
            </div>
        </div>
    </div>
</div>