<div ng-switch="!player">
    <p ng-switch-when="true">Select a player to manage.</p>
    <div ng-switch-default="">
        <div class="form-section">
            <bm-player player="player.user" adding="false"></bm-player>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-default" ng-click="saveUser()">Save</button>
                </div>
            </div>
        </div>
        <div>
            <div ng-repeat="incident in player.incidents" class="form-section">
                <incident incident="incident" adding="false"></incident>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-default" ng-click="saveIncident(incident)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Ban History</h3>
            <table class="table table-striped">
                <thead>
                    <tr><th>Moderator</th><th>Date</th><th>Banned</th><th>Permanent</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ban in player.history">
                        <td>{{ban.moderator}}</td>
                        <td>{{ban.date | date: 'mediumDate'}}</td>
                        <td>{{ban.banned|checkmark}}</td>
                        <td>{{ban.permanent|checkmark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <button class="btn btn-default" ng-click="reset()">Cancel</button>
            </div>
        </div>
    </div>
</div>
