<ul class="nav nav-tabs nav-justified">
    <li ng-class="tabClass(tab)" ng-repeat="tab in tabs">
        <a href="" ng-click="selectTab(tab)">{{tab.label}}</a>
    </li>
</ul>
<form ng-submit="search()">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <input type="text"
           ng-model="selected"
           placeholder="Find user by name..."
           typeahead="user.label for user in getPossibleUsernames($viewValue)"
           typeahead-loading="loadingLocations"
           typeahead-min-length="2"
           typeahead-on-select="loadUser(selected)"
           class="form-control" />
    
    <input type="text"
           placeholder="Search..."
           ng-model="search.text" />
  <input type="submit" id="submit" value="Search" />
</form>