<div ng-switch="users.length">
    <div ng-switch-when="0"></div>
    <div ng-switch-default="" >
        <h3>Players</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr><th>Username</th><th>Relations</th><th>Notes</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players" ng-click="lookupPlayer(player.uuid)">
                    <td>{{player.username}}</td>
                    <td>{{player.relations}}</td>
                    <td>{{player.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-switch="incidents.length">
    <div ng-switch-when="0"></div>
    <div ng-switch-default="" >
        <h3>Incidents</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr><th>Username</th><th>Incident Date</th><th>Incident Type</th><th>Action Taken</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="incident in incidents" ng-click="lookupPlayer(incident.uuid)">
                    <td>{{incident.username}}</td>
                    <td>{{incident.incident_date}}</td>
                    <td>{{incident.incident_type}}</td>
                    <td>{{incident.action_taken}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-show="incidents.length == 0 && users.length == 0">
    No search results found.
</div>
