<div ng-switch="users.length">
    <div ng-switch-when="0"></div>
    <div ng-switch-default="" >
        <h3>Players</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr><th>Name</th><th>Last Incident Date</th><th>Last Incident Type</th><th>Last Action Taken</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users" ng-click="lookupUser(user.username)">
                    <td>{{user.username}}</td>
                    <td>{{user.incident_date}}</td>
                    <td>{{user.incident_type}}</td>
                    <td>{{user.action_taken}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-switch="incidents.length">
    <div ng-switch-when="0"></div>
    <div ng-switch-default="" >
        <h3>Incidents</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr><th>Name</th><th>Last Incident Date</th><th>Last Incident Type</th><th>Last Action Taken</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="incident in incidents" ng-click="lookupUser(incident.username)">
                    <td>{{incident.username}}</td>
                    <td>{{incident.incident_date}}</td>
                    <td>{{incident.incident_type}}</td>
                    <td>{{incident.action_taken}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-show="incidents.length == 0 && users.length == 0">
    No search results found.
</div>