<div>
    <!-- User -->
</div>
<div>
    <div ng-repeat="incident in incidents" class="form">
        <label>Moderator:</label>
        <input type="text" readonly="readonly" value="{{incident.moderator}}"/>
        <br/>
        <label>Created Date:</label>
        <input type="text" readonly="readonly" value="{{incident.dateCreated}}"/>
        <label>Last Modified:</label>
        <input type="text" readonly="readonly" value="{{incident.dateModified}}"/>
        <br/>
        <label for="type_{{incident.id}}">Incident type:</label>
        <input type="text" id="type_{{incident.id}}" value="{{incident.type}}"/>
        <label for="date_{{incident.id}}">Incident Date:</label>
        <input type="text" id="date_{{incident.id}}" value="{{incident.date}}"/>
        <br/>
        <label for="notes_{{incident.id}}">Notes:</label>
        <textarea id="notes_{{incident.id}}">{{incident.notes}}</textarea>
        <br/>
        <label for="action_{{incident.id}}">Notes:</label>
        <textarea id="action_{{incident.id}}">{{incident.actionTaken}}</textarea>
    </div>
</div>
<table>
    <thead>
        <tr><th>Moderator</th><th>Date</th><th>Banned</th><th>Permanent</th></tr>
    </thead>
    <tbody>
        <tr ng-repeat="ban in history">
            <td>{{ban.moderator}}</td>
            <td>{{ban.date}}</td>
            <td>{{ban.banned|checkmark}}</td>
            <td>{{ban.permanent|checkmark}}</td>
        </tr>
    </tbody>
</table>
